

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.svg-container { 
	display: inline-block;
	position: relative;
	width: 60%;
	vertical-align: middle; 
	overflow: hidden; 
}

.btn {        
  opacity: 1;      
}
.btn.active {        
  opacity: 0.5;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,1);      
}




